
h2{
    background-color: red;
}
b{
    color: tomato;
}

ol{
    color: #8e2525;
}

li{
    background-color: red;
    font-size: x-small;
}

.sja{
    text-decoration: line-through;
}
.sgl{
    background-color: yellow;
}
ul{
    color: #8e2525;
    letter-spacing: 4px;
}
.kgl{
    background-color: yellow;
}

.yut{
    background-color: yellow;
}